// Typography
$font-family: "franklin-gothic-urw", Helvetica, Arial, sans-serif;

// Fonts
$heading-one-size: 30pt;
$heading-one-weight: 500;

$heading-two-size: 12pt;
$heading-two-weight: 500;

$heading-three-size: 12pt;
$heading-three-weight: 500;

$paragraph-size: 12pt;
$paragraph-weight: 300;

// Colors
$black: #000;
$white: #FFF;
$gray: #999;

// Breakpoints

$breakpoint-small: 40em;
$breakpoint-medium: 60em;