ul.music-list {
  li {
    margin-bottom: 4em;
  }
}

.album-art {
  display: table-cell;
  vertical-align: top;
  width: 12em;

  img {
    width: 100%;
  }

  @media screen and (max-width: $breakpoint-small) {
    width: 8em;
  }
}

.album-details {
  display: table-cell;
  vertical-align: top;
  padding-left: 2em;
}