* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.alignment-container {
  position: relative;
  height: 1em;

  .left {
    position: absolute;
    left: 0;
    text-align: left;
  }

  .right {
    position: absolute;
    right: 0;
    text-align: right;
  }
}

.content-container {
  width: 100%;
  max-width: 40em;
  margin: auto;
  margin-top: 7.5em;
}

ul.nav-list {
  li {
    display: inline-block;
    margin: 0 1em;

    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
  }
}