* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.alignment-container {
  position: relative;
  min-height: 1em;

  .left {
    position: absolute;
    left: 0;
    text-align: left;
  }

  .right {
    position: absolute;
    right: 0;
    text-align: right;
  }
}

.content-container {
  width: 100%;
  max-width: $breakpoint-small;
  margin: auto;
  margin-top: 7.5em;
  margin-bottom: 7.5em;
  padding: 0 2em;
  box-sizing: border-box;

  @media screen and (max-width: $breakpoint-small) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

ul.nav-list {
  li {
    display: inline-block;
    margin-right: 2em;

    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
  }
}