body {
  font-family: $font-family;
  // -webkit-font-smoothing: antialiased !important;
}

h1 { 
  font-size: $heading-one-size;
  font-weight: $heading-one-weight;
  margin: 1em 0;
}

h2 { 
  font-size: $heading-two-size;
  font-weight: $heading-two-weight;
  margin-bottom: 0.5em;
}

h3 { 
  font-size: $heading-three-size;
  font-weight: $heading-three-weight;
  color: $gray;
  margin-bottom: 0.5em;
}

p { 
  font-size: $paragraph-size;
  font-weight: $paragraph-weight;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

@mixin selection {
  ::-moz-selection { @content; }
  ::selection { @content; }
}

@include selection {
  color: white;
  background: $black;
  text-shadow: 0;
}